<nav class="navbar">
  <a href="/">
    <p class="navbar-brand">🦖 DinoPark</p>
  </a>
  <div class="navbar-links">
    <a href="/attractions">
      <button type="button" class="navbar-navbar-button transparent-button">Attractions</button>
    </a>
    <a href="/dinosaurs">
      <button type="button" class="navbar-button navbar-transparent-button">Dinosaures</button>
    </a>
    <a href="/booking">
      <button type="button" class="navbar-button navbar-blue-button">Réserver</button>
    </a>
  </div>
</nav>