<%- include("../partials/head", { title: "DinoPark - Confirmation de la réservation" }) %>

<main class="page">
  <div class="booking-confirmation-page">
    <p class="centering bold"><%= message %></p>
  </div>
</main>
<%- include("../partials/footer") %>