<%- include("../partials/head", { title: "DinoPark - Page de réservation" }) %>

<main class="page">
  <p class="centering">Site en cours de maintenance.</p>
  <p class="centering">Impossible de prendre de réservations en ligne pour le moment.</p>
</main>
<%- include("../partials/footer") %>