:root {
    --background: rgb(255, 255, 255);
    --accent: rgb(245, 245, 245);
    --accent-foreground: rgb(23, 23, 23);
    --chart-1: rgb(245, 73, 0);
    --chart-2: rgb(0, 150, 137);
    --chart-3: rgb(16, 78, 100);
    --chart-4: rgb(255, 185, 0);
    --chart-5: rgb(254, 154, 0);
    --chart-6: rgb(229, 229, 229);
    --chart-7: rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--chart-7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--chart-7);
    border-radius: 0 0 10px 10px;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-links {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.page {
    background-color: var(--background);
    width: 100%;
    margin: 0 auto 1rem;
    padding-top: 80px;
    box-sizing: border-box;
}

.first-booking-page,
.second-booking-page,
.third-booking-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.booking-page-date-input {
    width: 100%;
    font-size: 1.3rem;
}

.ticket-bold-name {
    font-size: larger;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.centering {
    margin: 0 auto;
}

.hidden {
    display: none;
}

.summary-card {
    background-color: var(--chart-6);
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    margin: 1rem auto;
    box-sizing: border-box;
}

.booking-page-paragraph {
    font-size: 1.3rem;
    width: 100%;
}

.summary-card-title {
    font-size: 1.5rem;
    margin: 1rem auto;
}

.booking-page-left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 10px;
    width: 90%;
    margin: 0 5%;
    box-sizing: border-box;
}

.booking-page-right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 10px;
    margin: 0 5%;
    width: 90%;
    box-sizing: border-box;
}

.homepage-main-section,
.homepage-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    background: linear-gradient(180deg, rgb(139, 255, 245) 0%,
            rgba(217, 252, 251, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.homepage-section {
    background: none;
    margin-top: 5rem;
}

.section-title,
.section-paragraph {
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

.blue-text {
    color: var(--chart-2);
}

.section-paragraph {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ticket-page-button-container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

.park-banner-container {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

.park-banner-container img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.blue-button,
.transparent-button,
.navbar-transparent-button,
.navbar-blue-button {
    background-color: var(--chart-2);
    color: var(--accent);
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    width: 220px;
    margin: 0.5rem auto;

    &:hover {
        scale: 1.05;
    }
}

.navbar-button {
    width: 150px;
}

.navbar-blue-button:hover {
    background-color: var(--chart-3);
}

.blue-button:hover {
    background-color: var(--chart-3);
}

.orange-button:hover {
    background-color: var(--chart-5);
}

.transparent-button,
.navbar-transparent-button {
    background-color: transparent;
    color: var(--accent-foreground);
    padding: 0.25rem;
    border: solid 2px var(--chart-6);
}

.section-divider {
    margin: 2rem 10%;
    color: var(--chart-4);
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: nowrap;
}

.ticket-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 2px var(--chart-6);
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: rgba(229, 229, 229, 0.2);
    box-shadow: 10px 5px 5px var(--chart-6);
}

.ticket-icon {
    font-size: 3rem;
}

.ticket-type {
    font-size: 2rem;
    font-weight: 600;
}

.ticket-audience {
    font-size: 1.5rem;
    font-weight: 600;
}

.ticket-details {
    font-size: 1.25rem;
    text-align: center;
}

.ticket-price {
    font-size: 1.4rem;
    background-color: var(--chart-4);
    width: fit-content;
    text-align: center;
    padding: 0.25rem 0.5rem;
}

.dino-card,
.attraction-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 2px var(--chart-6);
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: rgba(229, 229, 229, 0.2);
    box-shadow: 10px 5px 5px var(--chart-6);

    &:hover {
        scale: 1.05;
    }
}

.dino-card-name,
.attraction-card-name {
    font-size: 2rem;
    font-weight: 600;
    color: var(--chart-2);
    text-align: center;
}

.dino-card-image,
.attraction-card-image {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.dino-card-image img,
.attraction-card-image img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.dino-card-diet {
    font-size: 1.25rem;
}

.dino-card-description,
.attraction-card-description {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1rem;
}

.attraction-page-container,
.dinosaur-page-container,
.ticket-page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.ticket-page-container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ticket-page-name,
.attraction-page-name,
.dinosaur-page-name {
    font-size: 2rem;
    color: var(--chart-2);
    text-align: left;
    margin: 2rem;
}

.ticket-page-name {
    text-align: center;
}

.ticket-page-description,
.attraction-page-description,
.dinosaur-page-description {
    font-size: 1.5rem;
    color: var(--chart-3);
    text-align: left;
    margin: 2rem;
}

.ticket-page-description {
    text-align: center;
    margin: 0.25rem 2rem 1rem 2rem;
}

.ticket-page-attraction-list {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--chart-3);
    text-align: left;
    margin: 2rem;
}

.attraction-page-illustration,
.dinosaur-page-illustration {
    width: 75%;
    height: auto;
    margin: 2rem;
}

.dinosaur-page-diet {
    font-size: 1.5rem;
    color: var(--chart-3);
    text-align: left;
    margin: 2rem;
}

.diet-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 10px;
    font-size: 1.25rem;
    margin: 1rem;
}

.diet-container button {
    margin: 0;
}

.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1.25rem;
    margin: 1rem;
}

.booking-step-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin: 2rem;
    box-sizing: border-box;
}

.booking-step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.active-step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--chart-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.inactive-step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--chart-6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.step-name {
    font-size: 1.25rem;
}

.booking-date-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--chart-6);
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.booking-page-ticket-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    font-size: 1.5rem;
    background-color: var(--chart-6);
    margin: 1rem auto;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.booking-page-ticket-card-details {
    margin: 1rem 2rem;
    width: 75%;
}

.ticket-quantity {
    font-size: 1.5rem;
}

.decrease-button {
    font-size: 1.5rem;
}

.increase-button {
    font-size: 1.5rem;
}

.ticket-quantity-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
    font-size: 1.5rem;
}

.ticket-quantity-button-container button {
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--background);

    &:hover {
        background-color: var(--chart-4);
    }
}

.fieldset {
    padding: 1.25rem;
    margin: 1rem auto;
    width: 90%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

@media screen and (min-width: 780px) {
    .navbar-links {
        visibility: visible;
    }

    .park-banner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 400px;
        margin: 0 auto;
        position: relative;
        object-fit: cover;
    }

    .park-banner-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .button-container {
        flex-direction: row;
    }

    .section-title,
    .section-paragraph {
        margin: 0 5rem 2rem;
    }

    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .attraction-page-illustration,
    .dinosaur-page-illustration {
        width: 33%;
    }

    .diet-container {

        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .first-booking-page {
        flex-direction: row;
    }

    .booking-page-left-column {
        width: 60%;
    }

    .booking-page-right-column {
        width: 40%;
    }

    .fieldset {
        width: 50%;
    }

    .form-group {
        flex-direction: row;
    }

    .form-group label {
        width: 40%;
        justify-content: space-between;
    }

    .form-group input {
        width: 50%;
    }
}

@media screen and (min-width: 1080px) {
    .fieldset {
        width: 33%;
    }
}